@import "../../src/styles/_common.styl"

*
    box-sizing: border-box
    font-family: "Courier New", Courier, monospace
    line-height: 1
    margin: 0
    padding: 0
    transition: 0.3s all ease

    &:hover
        transition: 0.3s all ease

    &:focus
    &::-moz-focus-outer
        border: 0
        outline: none

body
    min-height: 100vh
    max-width: 100vw
    overflow: hidden
